:root {
	--color-violet: #c798f5;
	--color-mauve: #cbbfe8;
	--color-rose: #ef6ab8;
	--color-rouge: #e44c56;
	--color-rougeVif: #ed3432;
	--color-orange: #f76a28;
	--color-vertFonce: #089059;
	--color-vertClair: #aec97d;
	--color-bleuClair: #a2d8ea;
	--color-bleuFonce: #4283cb;
	--color-gris: #a3acb7;
	--color-noir: #000000;
}