@font-face {
  font-family: 'paragon';
  src: url('../fonts/paragon/Paragon-Regular.otf');
}

@font-face {
  font-family: 'paragon-italic';
  src: url('../fonts/paragon/Paragonitalic-Regular.otf');
}

html,
body {
  font-size: 24px;
}

body {
  font-family: 'paragon';
  background-color: black;
  color: white;
  line-height: 1.5rem;
  margin: 1rem;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-size: 1rem;
}

h1{
  text-decoration: underline;
}

img {
  max-width: calc(100% - 1.5rem);
  max-height: 85vh;
  margin: .5rem;
}

.images {
  margin-left: 1.5rem;
}

.images.fixes img {
  width: 25%;
}

p {
  max-width: 1300px;
  margin: 0;
  text-indent: 2rem;
}

p:nth-of-type(1),
img + p,
.images,
.images + p,
.no-indent {
  text-indent: 0;
}