:root{
	--main-color: black;
	--bg-color: white;	
	--color-2: #c798f5;
	--color-3: #ef6ab8;
	--color-4: #e44c56;
	--color-5: #f76a28;
	--color-6: #ed3432;
	--color-7: #089059;
	--color-8: #aec97d;
	--color-9: #cbbfe8;
	--color-10: #a2d8ea;
	--color-11: #a3acb7;
	--color-12: #4283cb;
	--color-2-op: #f6f0fd;
	--color-3-op: #fce9f4;
	--color-4-op: #fbe5e6;
	--color-5-op: #fde9df;
	--color-6-op: #fee8e8;
	--color-7-op: #ecfff8;
	--color-8-op: #f3f7ec;
	--color-9-op: #f7f5fb;
	--color-10-op: #f1f9fb;
	--color-11-op: #f1f2f4;
	--color-12-op: #e3edf7;
}