@font-face {
  font-family: 'walking-OCR';
  src: url('../fonts/Walking-OCR-logo/Walking-OCR-logo-Regular.otf');
}

@font-face {
  font-family: 'walking-OCR-text';
  src: url('../fonts/Walking-OCR-logo/Walking-OCR-logo-text-Regular.otf');
}

@font-face {
  font-family: 'walking-OCR-logo';
  src: url('../fonts/Walking-OCR-logo/Walking-OCR-logo-regular-regular.otf');
}

@font-face {
  font-family: 'paragon-regular';
  src: url('../fonts/paragon/Paragon-Regular.otf');
}

@font-face {
  font-family: 'paragon-regular-italic';
  src: url('../fonts/paragon/Paragonitalic-Regular.otf');
}