:root {
  --font-size: 18px;
  --main-color: black;
  --bg-color: white;
}
html {
  font-size: var(--font-size);
}

body {
  font-family: "walking-OCR-text";
  margin: 0;
  animation: changeColor 60s;
  animation-iteration-count: infinite;
}

.mobile {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
  font-size: 1em;
  font-family: "walking-OCR-text";
}

ul,
li {
  margin: 0;
  padding: 0;
}

.logo {
  font-family: "walking-OCR-logo";
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

body > nav {
  font-size: 1.5rem;
  line-height: 1rem;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 2rem;

}

body > nav .background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 4.5rem;
  z-index: 0;
}

body > nav * {
  display: inline;
}

body > nav h1 a,
body > nav li a {
  padding: 0.25em;
}

body > nav li:nth-of-type(1) {
  text-align: right;
  width: calc(33.33vw - 3rem);
}

body > nav h1 {
  font-family: "walking-OCR-logo";
  font-size: 1em;
  font-feature-settings: "dlig", "liga", "calt";
  text-align: right;
}

body > nav ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  z-index: 3;
  position: relative;
}

body > nav li a:hover {
  color: var(--color-6);
}

footer .active,
body > nav li.active a,
body > nav li a:hover {
  text-decoration: underline dotted 2px;
}

body > nav li {
  font-family: "walking-OCR-text";
  line-height: 1.5rem;
  width: 25vw;
}

body > nav li .content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.25rem;
  margin-top: .25em;
  padding-left: 1.85em;
  padding-right: 1em;
  color: var(--color-6);
}

body > nav li .content.visible {
  display: block;
}

.point-left,
.point-right {
  font-family: "walking-OCR-text";
  color: var(--color-6);
  background-color: white;
}

.point-right.absolute {
  position: absolute;
  right: 0;
  width: 1em;
  bottom: 0;
}

body > nav li:nth-last-of-type(1) {
  margin-left: 3.5em;
}

main {
  margin-left: 33.33vw;
  padding-right: 2rem;
}

main a {
  color: var(--color-6);
  font-family: "walking-OCR-text";
  text-decoration: underline dashed 1px;
}

main h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

main p {
  font-family: "walking-OCR-text";
  font-size: 1.5rem;
}

main > section {
  padding-top: 2rem;
  margin-bottom: 25vh;
  min-height: 100vh;
}

main a:hover {
  color: black;
}

main .flex {
  display: flex;
  gap: 20px;
}

main section.home {
  display: flex;
  flex-direction: column;
  min-height: auto;
}

main section.home img {
  max-width: 25%;
  align-self: flex-end;
}

main section.home p,
main section.contact p {
  font-family: "walking-OCR-text";
  font-size: 4rem;
  margin: 3rem 0;
}

main nav {
  position: sticky;
  top: 0;
  z-index: 2;
  font-size: 1.5rem;
}

main nav .hidden {
  visibility: hidden;
}

main nav ul {
  display: flex;
  font-family: "walking-OCR-text";
  justify-content: space-between;
  padding-top: 1.25em;
  line-height: 1rem;
}

main nav ul li {
  list-style: none;
}

section.products img {
  width: 100%;
}

section.products h1 {
  text-align: center;
}

section.products .introduction {
  margin-bottom: 1em;
}

section.products .introduction p {
  font-family: "walking-OCR-text";
  width: 75%;
  margin-left: 12.5%;
  text-align: center;
}

section.products .configurator .flex {
  margin-bottom: 1em;
}

section.products .flex p {
  margin: 0;
}

section.products p.instruction {
  font-family: "walking-OCR-text";
  font-size: 3rem;
}

section.inuse section.images,
section.products section.configurator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: .5em
}

section.inuse section.images img,
section.inuse section.images .image,
section.products section.configurator figure,
section.products section.configurator .image {
  width: calc(33.33% - 0.5em);
  margin-right: 0;
}

figure {
  border: 1px solid black;
  box-sizing: border-box;
  margin: 0;
}

figcaption {
  margin-top: -1em;
  text-align: center;
}
figcaption p {
  font-family: "walking-OCR-text";
}
figure a {
  color: inherit;
}

section.products section.configurator figure a {
  text-decoration: none;
}
section.products section.configurator figure a:hover {
  color: var(--color6);
  text-decoration: underline;
}

main.inuse section.filters {
  display: flex;
}

main.inuse section.filters ul {
  width: 20%;
}

main.inuse section.filters ul li {
  list-style-type: none;
}

main.inuse section.filters ul li:nth-of-type(1) {
  font-family: "walking-OCR-text";
}

main.inuse section.filters ul li:not(li:nth-of-type(1)):before {
  content: "[++++] ";
  font-family: "walking-OCR-text";
}

section.about {
  margin-bottom: 2em;
  min-height: 100vh;
}

section.about li {
  font-size: 2rem;
  list-style-type: none;
}

section.about li:before {
  content: "[+++] ";
  font-family: "walking-OCR-text";
  color: var(--color-5);
}

.info {
  width: 50%;
  gap: 20px;
}

footer {
  position: fixed;
  padding: 2rem;
  top: 0;
  left: 0;
  font-family: "walking-OCR-text";
}

footer .lang:hover {
  cursor: pointer;
  color: var(--color-6);
  text-decoration: underline dotted 2px;
}
