@media screen and (max-width: 1500px) {
  :root {
  --font-size: 14px;
  }

  html {
    font-size: var(--font-size);
  }
  
}

@media screen and (max-width: 1200px) {
  :root {
  --font-size: 10px;
  }

  html {
    font-size: var(--font-size);
  }

  body > nav {
    font-size: 2rem;
  }
  body > nav li .content {
    font-size: 1.5rem;
  }

  section.inuse section.images img, section.inuse section.images .image, section.products section.configurator figure, section.products section.configurator .image {
    width: calc(50% - 0.25em);
  }
  
  footer {
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 1000px) {

  :root {
    --font-size: 14px;
  }

  html {
    font-size: var(--font-size);
  }

  .mobile {
    display: inherit;
  }
  
  body > nav {
    display: none;
    background: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 1rem;
    z-index: 10;
  }

  body > nav li:nth-of-type(1),
  body > nav li {
    width: 100%;
    text-align: left;
    display: block;
  }

  .point-left,
  .point-right {
    display: none;
  }

  body > nav li:nth-last-of-type(1) {
    margin-left: 0;
  }

  body > nav h1 a, body > nav li a {
    padding-left: 0;
  }

  body > nav li .content {
    display: inline-block;
    padding-left: 0;
  }

  body > nav.visible {
    display: initial;
  }

  main {
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  main > section {
    padding-top: 4rem;
  }

  main section.home img {
    max-width: 50%;
  }

  .flex {
    flex-direction: column;
  }

  .flex .info {
    width: 100%;
  }

  footer {
    padding: 1rem;
    font-size: 1.25rem;
    display: flex;
    right: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: white;
  }
}

@media screen and (max-width: 700px) {

  :root {
    --font-size: 10px;
  }

  html {
    font-size: var(--font-size);
  }

  main {
    margin-top: 2.5rem;
  }

  main section.home p, main section.contact p {
    font-size: 2rem;
  }

  section.inuse section.images img, section.inuse section.images .image, section.products section.configurator figure, section.products section.configurator .image {
    width: 100%;
    margin-bottom: 1rem;
  }

  main > section {
    margin-bottom: 12.5vh;
  }
}

@media screen and (max-width: 500px) {
  main section.home img {
    max-width: 100%;
  }
}
